@using Entities
@using Business

<EditForm Model="oStorage">
    <div class="form-group">
        <label>Bodega:</label>
        <InputSelect class="form-control" @bind-Value="oStorage.WarehouseId">
            <option value="">Seleccione una Bodega</option>
            @foreach (var warehouse in warehouses)
            {
                <option value="@warehouse.WarehouseId">@warehouse.WarehouseName</option>
            }
        </InputSelect>
    </div>
    <div class="form-group">
        <label>Producto</label>
        <InputSelect class="form-control" @bind-Value="oStorage.ProductId">
            <option value="">Seleccione una Producto</option>
            @foreach (var product in products)
            {
                <option value="@product.ProductId">@product.ProductName</option>
            }
        </InputSelect>
    </div>
</EditForm>

@code
{
    Storage oStorage = new Storage();
    List<Warehouse> warehouses = new List<Warehouse>();
    List<Product> products = new List<Product>();
    B_Warehouse bWarehouse = new B_Warehouse();
    B_Product bProduct = new B_Product();

    protected override async Task OnInitializedAsync()
    {
        warehouses = bWarehouse.WarehouseList();
        products = bProduct.ProductList();

    }
}

